<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--- CDN --->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>プログレスバー</title>
</head>
<body>


    <!--- プログレスバー --->
    <div class="progress_wrap bg-dark m-5">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0"
        aria-valuemax="100" style="width: 0%">
        <span class="progress-bar-label mx-2">0%</span>
        </div>
    </div>

    <!-- 処理開始　ボタン -->
    <input type="button" id="ajax" class="btn btn-primary d-block mx-auto" value="処理開始">

    <p id="result" class="text-center my-5"></p>

    
    <!--- CDN --->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!--- ajax 処理 プログレスバー --->
    <script>
        $(function () {

            var source = new EventSource("/stream");

            source.addEventListener('progress-item', function (event) {
                $('.progress-bar').css('width', event.data + '%').attr('aria-valuenow', event.data);
                $('.progress-bar-label').text(event.data + '%');
            }, false);

            source.addEventListener('last-item', function (event) {
                source.close();
                $('.progress-bar').css('width', '100%').attr('aria-valuenow', 100);
                $('.progress-bar-label').text('100%');
            }, false);

            $("#ajax").click(function () {
                $.post('/ajax', 'data=処理開始', null, "json").done(function (data, textStatus, jqXHR) {
                    const result = JSON.parse(data);
                    console.log(result.data)
                    
                    $("#result").html('開始時間：' + result.start + "<br>終了時間：" + result.end);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert("処理失敗")
                });
            });
        });
    </script>
    
</body>
</html>